
body { 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 0 100px 25px;
}


.nav { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    font-size: 24px;
}

ul, .text {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
    

}

.container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 0 0 48px 0;
}
.container-header {
    font-size: 48px;
    font-weight: 700;
}

.image {
    border: 2px solid white;
    width: 375px;
    height: auto;
    flex: 1 0 auto;
}

.sign-up { 
    border-radius: 5px;
    padding: 3px 9px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    flex: 0 0 auto;
    width: 115px;
    height: 35px;
    font-weight: 700;
}

.one-sign-up {
    background-color: #3882F6;
}

.sign-up-action {
    background-color: #3882F6;
    border: 2px solid white;
}

a { 
    text-decoration: none;
    color: white;

}

.main-text {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 26px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 35px;

}
.main {
    display: flex;
    flex-direction: column;
    padding: 0 150px 100px;
}


.box {
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 5px;
}

.info {
 display: flex;
 flex-flow: column wrap;
 width: 125px;
}

.main-sub-text {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding: 100px;
}

.quote .attribute {
    font-size: 24px;
    font-weight: 700;
    text-align: right;

}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.modal {
    background-color: #3882F6;
    padding: 25px 60px;
    display: flex;
    gap:100px;
    border-radius: 5px;
}

.action-head {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
}